name: .NET Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Set up .NET
        uses: actions/setup-dotnet@v4.0.1
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore MySolution.sln

      - name: Build code
        run: dotnet build MySolution.sln --configuration Release
